{% extends "default3.html" %}

{% block sidebarblock %}{% endblock %}
{% block sidebarLeftblock %}{% endblock %}

{% block title %}
<title>Drama</title>
<meta name="description" content="Drama Help">
{% endblock %}

{% block content %}
{% filter markdown %}
# Admin Tools

* [Flagged Posts](/admin/flagged/posts)
* [Flagged Comments](/admin/flagged/comments)
* [Image Feed](/admin/image_posts)
* [Removed Feed](/admin/removed)
* [Users Feed](/admin/users)
* [Remove image from imgur and from cloudflare cache](/admin/image_purge)
* [Perceptive Hash Image Ban](/admin/image_ban)
* [Single item via url](votes)
* [Multi Vote Analysis](/admin/alt_votes)
* [App Queue](/admin/apps)
* [App Data](/admin/appdata)
* [Badges](/admin/badge_grant)
* [Content Stats](/admin/content_stats)

{% endfilter %}
{% endblock %}