{% extends "default.html" %}
{% block content %}
<pre class="d-none d-md-inline-block"></pre>
<h1>Blocks</h1>
<pre></pre>
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight:bold;">User</th>
		<th style="font-weight:bold;">Target</th>
	</tr>
</thead>
{% for user in users %}
	<tr>
		<td style="font-weight:bold;color:#{{user.namecolor}};">{{user}}</td>
		<td style="font-weight:bold;color:#{{targets[loop.index].namecolor}};">{{targets[loop.index]}}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
