{% extends "guild_settings.html" %}

{% block pagetitle %}Leaderboard{% endblock %}

{% block stylesheets %}

{% if v and v.referral_count and session.get("dark_mode_enabled") %}
<link id="css-link" rel="stylesheet" href="/+general/dark.css">
{% else %}
<link id="css-link" rel="stylesheet" href="/+general/main.css">
{% endif %}

{% endblock %}
{% block content %}
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight:bold;">User</th>
		<th style="font-weight:bold;">Target</th>
	</tr>
</thead>
{% for user in users %}
	<tr>
		<td><a style="font-weight:bold;color:#{{user.namecolor}};" href="/@{{user.username}}">{{user.username}}</a></td>
		<td><a style="font-weight:bold;color:#{{targets[loop.index-1].namecolor}};" href="/@{{targets[loop.index-1].username}}">{{targets[loop.index-1].username}}</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}
