<!-- Emoji Selection Modal - Powered by GIPHY -->
<div class="modal fade" id="emojiModal" tabindex="-1" role="dialog" aria-labelledby="emojiModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered p-5" role="document">
		<div class="modal-content">
			<div class="modal-header border-bottom-0 shadow-md d-block p-3">
				<div class="form-group d-flex align-items-center w-100 mb-0">
					<div id="emojis-back-btn"></div>
					<input type="text" class="form-control" id="emojiSearch" placeholder="Search emoji and press enter" onchange="getEmoji(this.value);">
					<div id="emojis-cancel-btn"></div>
				</div>
			</div>
			<div style="overflow-y: scroll;">
				<div class="modal-body p-0" id="emoji-modal-body">

					<div id="no-emojis-found">
					</div>

					<div class="emoji-columns pt-3 px-3 pb-0" id="EMOJIS">
						<div href="javascript:void(0)" onclick="getEmoji('lol');commentForm('reply-form-body-{{p.fullname}}')" style="overflow: hidden;">
							<img class="img-fluid" src="/assets/images/emojis/lol.gif">
						</div>
						<div href="javascript:void(0)" onclick="getEmoji('makeout');commentForm('reply-form-body-{{p.fullname}}')" style="overflow: hidden;">
							<img class="img-fluid" src="/assets/images/emojis/makeout.gif">
						</div>
						<div href="javascript:void(0)" onclick="getEmoji('marseysick');commentForm('reply-form-body-{{p.fullname}}')" style="overflow: hidden;">
							<img class="img-fluid" src="/assets/images/emojis/marseysick.gif">
						</div>
						<div href="javascript:void(0)" onclick="getEmoji('tayaaa');commentForm('reply-form-body-{{p.fullname}}')" style="overflow: hidden;">
							<img class="img-fluid" src="/assets/images/emojis/tayaaa.gif">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
