{% extends "default.html" %}	

{% block sidebarblock %}{% endblock %}

{% block title %}	
<title>Drama - Help</title>	
<meta name="description" content="Drama Help">	
{% endblock %}	

{% block sidebarLeftblock %}
<div class="col sidebar d-none d-lg-block p-3">

	<div class="sidebar-section">
			<div class="title">Help</div>
      <div class="body">
	<a href="/">Back to Drama</a>
      </div>
	</div>

	</div>

{% endblock %}

{% block content %}	
{% filter markdown %}	
# Help	

## General Information	

* [About](/about)	
* [FAQ](/faq)
* [Meet the admins](/admins)
* [Post Formatting](/formatting)
* [Guild Siege](/siege)
* [Contact Drama](/contact)

## Account Cosmetics	

* [Badges](/badges)	
* [Titles](/titles)	

## Drama Policies	

* [Terms of service](/terms)	
* [Content Policy](/rules)
* [CSAM](/csam)
* [Privacy Policy](/privacy)	
* [Legal Policies](/legal)	

## Legal Requests	

* [Submit a Legal Request](/legal)	
* [Submit a DMCA takedown request](/dmca)	
* [Submit a DMCA counter-request](/counter_dmca)	

## Press	

* [Press Resources](/press)

{% endfilter %}	
{% endblock %}	
