{% extends "settings.html" %}

{% block pagetitle %}Profile Settings - Drama{% endblock %}

{% block content %}


<div class="row">

	<div class="col col-lg-8">

		<div class="settings">

			<h2 class="h5" name="referral">Default Sorting and Time Filter</h2>

			<div class="settings-section rounded">

					<div class="d-lg-flex border-bottom">
						<div class="title w-lg-25">
							<label for="defaultsorting">Default Sorting</label>
						</div>

						<div class="body w-lg-100">
							<p>Change the default sorting for posts.</p>
							<div class="input-group mb2">
								<select id='defaultsorting' class="form-control" form="profile-settings" name="defaultsorting" onchange="post_toast('/settings/profile?defaultsorting='+document.getElementById('defaultsorting').value)">
								 {% for entry in ["hot", "new", "old", "top", "bottom", "disputed", "comments"] %}
								 <option value="{{entry}}"{{' selected' if v.defaultsorting==entry else ''}}>{{entry}}</option>
								 {% endfor %}
							 </select>
							</div>

						</div>

				 </div>

					<div class="d-lg-flex border-bottom">
						<div class="title w-lg-25">
							<label for="defaulttime">Default Time Filter</label>
						</div>

						<div class="body w-lg-100">
							<p>Change the default time filter for posts.</p>
							<div class="input-group mb2">
								<select id='defaulttime' class="form-control" form="profile-settings" name="defaulttime" onchange="post_toast('/settings/profile?defaulttime='+document.getElementById('defaulttime').value)">
								 {% for entry in ["day", "week", "month", "year", "all"] %}
								 <option value="{{entry}}"{{' selected' if v.defaulttime==entry else ''}}>{{entry}}</option>
								 {% endfor %}
							 </select>
							</div>

						</div>

				</div>

			</div>


					<h2 class="h5">Content Filters</h2>

						<div class="settings-section rounded">
						
							<div class="d-lg-flex border-bottom">

								<div class="title w-lg-25">
									<label for="hidevotedon">Hide Posts Voted On</label>
								</div>

								<div class="body w-lg-100">

									<div class="custom-control custom-switch">
										<input type="checkbox" class="custom-control-input" id="hidevotedon" name="hidevotedon"{% if v.hidevotedon %} checked{% endif %} onchange="post_toast('/settings/profile?hidevotedon='+document.getElementById('hidevotedon').checked);document.getElementById('filter-nsfw-option').classList.toggle('d-none')">
										<label class="custom-control-label" for="hidevotedon"></label>
									</div>

									<span class="text-small-extra text-muted">Enable if you would like to automatically hide posts you have voted on from your frontpage.</span>

								</div>

							</div>

							<div class="d-lg-flex">

								<div class="title w-lg-25">
									<label for="filters-text">Custom Filters</label>
								</div>

								<div class="body w-lg-100">
									<form id="custom-filter" action="/settings/profile" method="post">
										<input type="hidden" name="formkey" value="{{v.formkey}}">
											<small>Hides matching content from Home, All, and Trending, and collapses matching comments.</small>
										<div class="input-group mb-2">
											<textarea class="form-control rounded" id="filters-text" aria-label="With textarea"
											placeholder="Add your own custom content filters."
											rows="3" name="filters" form="custom-filter" maxlength="1000">{{v.custom_filter_list}}</textarea>
										</div>
										<div class="d-flex">
											<small>Use a new line for each filter entry. Limit of 1000 characters.</small>
											<input class="btn btn-primary ml-auto" id="bioSave" type="submit" value="Save Changes">
										</div>
									</form>


								</div>

							</div>


						</div>

				</div>

		</div>

	</div>

</div>

</div>

{% endblock %}
