{% extends "default.html" %}

{% block title %}
<title>Drama - Dude bussy lmao</title>
<meta name="description" content="Terms of Service.">
{% endblock %}




{% block content %}
<h1 class="article-title">Terms of Service</h1>
{% filter markdown %}

## Scope and Definitions

These terms of service ("Terms") are between Drama LLC ("Drama") and You, regarding your use of the social platform rdrama.net, its associated image hosting service i.ruqqus.ga, and any rdrama.net test or development servers which may exist now or in the future (collectively "rdrama.net").

Content on this page displayed in blockquotes is provided for convenience and readability only. Blockquote text is not part of the terms of service.

## Conduct and content

You agree to follow the Content Policy [here](/rules). The Content Policy is incorporated into these Terms by this reference.

## Age

You warrant that you are at least 13 years old. You warrant that you are at least 18 years old, if you indicate as such in your user settings.

## Account Access

Your rdrama.net account is nontransferable. You will not buy, sell, gift, loan, or otherwise grant a third party access to your rdrama.net account. You will not provide a third party with your rdrama.net password or two-factor authentication codes.

In the event that your rdrama.net account is accessed by a third party anyways, you remain accountable for all actions taken by your account.

## Liability

Drama LLC shall not be liable for your damages arising from any of the following:

* Use of the rdrama.net platform
* Technical failure of rdrama.net
* Administrative actions performed by Drama, including both automatic and manual actions
* Unauthorized access of a third party to your rdrama.net account
* Loss or breach of rdrama.net data
* Force majeur

You accept full liability for all content you upload to, or embed within, rdrama.net, and indemnify Drama from all such liability.

> You are responsible for everything you do with your rdrama.net account. Don't use rdrama.net to store important data or sensitive data.

## Intellectual Property

You grant Drama a permanent, worldwide, and irrevocable license to store, modify, copy, and distribute all content that you submit to or upload to Drama, including any creative works. Additionally, you grant Drama a permanent, worldwide, and irrevocable license to sublicense these same rights to Drama's service providers. Additionally, you warrant that you are authorized to grant Drama these rights.

You retain all other intellectual property rights, including ownership.

> We need to be able to store, copy, and distribute your content, because that's just how websites like rdrama.net work. We also need to be able to modify it for security and formatting purposes.

## Acceptable Use

You will not use rdrama.net as a means to support any other website or service without written permission by Drama.

You will not attempt to gain access to a Drama account that does not belong to you.

You will not use rdrama.net to engage in child sexual abuse activities. More information about this is available in the [CSAM Policy](/csam). The CSAM Policy is incorporated into these terms by this reference.

## API Terms

You will not use "/api/v1/" endpoints ("Drama API") without valid API keys and authorization tokens.

You will use a unique, descriptive User Agent string when accessing the Drama API.

You will honor Drama API rate limits.

## Guildmaster Terms

Drama provides you with the ability to create, manage, and moderate communities ("Guilds") within rdrama.net. As a moderator ("Guildmaster") of a Guild, you will not:

* Accept payment, gifts, or other compensation in exchange for performing Guildmaster actions. You may execute Guildmaster actions as part of employment duties, (for example, as a social media representative for your employer), but that fact must be plainly disclosed in the description of your Guild.
* Penalize users for content or conduct outside of your Guild
* Require integration with any third-party platform or service as a prerequisite for user participation in the Guild.
* Deliberately miscategorize your Guild.

## Multiple Accounts

You are permitted to create and use multiple rdrama.net accounts.

You will not use multiple accounts to circumvent per-user limits. Examples of such limits include, but are not limited to:

* Maximum one upvote or downvote per post or comment
* Maximum ten Guilds moderated at one time
* Maximum two Guilds created per day
* Maximum one Guild siege attempt per rolling thirty days
* Interaction restrictions due to Guild exiles or user blocks

Additionally, these terms apply to all of your accounts, which may exist now or in the future. Drama LLC reserves the right to take administrative action against all of your accounts in the event of a terms of service violation on any of your accounts.

## Your Privacy

Drama will never intentionally share your personal information with third parties, except:

* As required by United States law.
* We will share your data with our own service providers which are necessary for rdrama.net operations. The exact service providers are subject to change without notice.
* At our discretion, Drama may share your information with United States law enforcement in the event of an emergency, if we have good cause to believe that doing so would avert or mitigate the emergency.

Drama will make all reasonable efforts to ensure that user information is kept confidential.

## Legal Forms

Drama grants you the ability to use your rdrama.net account to send us certain types of legal forms through our help portal. These include, but are not limited to:

* DMCA takedown request
* DMCA takedown counter-request
* Subpoenas and court orders

You agree to refrain from making abusive or frivolous submissions to these forms. Additionally, you acknowledge that these forms are provided for the sake of convenience and speed, and that Drama does not waive any of its rights regarding legal process, including the right to object for lack of proper service.

> Drama considers abusive and frivolous submissions to be submissions with a clear lack of legal justification. Examples include: nonsensical data, duplicate submissions, DMCA takedown requests for content that isn't your intellectual property, or legal demands from someone lacking the authority to make such a demand.

## Payments

Drama offers users the ability to purchase Premium Coins ("Coins"), a token currency that may be consumed for premium membership status, or gifted to other users. Coins have no cash value and are non-refundable.

If your account balance becomes negative, Drama reserves the right to place administrative restrictions upon your account, until the debt is paid back.

You are responsible for all fees, penalties, or other expenses due to chargebacks, reversed transactions, or refunds associated with your account.

## Enforcement

Drama retains sole discretion in all determinations regarding content policy and terms of service violations.

Drama reserves the right to remove content that we deem to violate content policy or the terms of service, and to deactivate accounts responsible for such violations.

## Severability

If one clause of these Terms or the Content Policy is determined by a court to be unenforceable, the remainder of the Terms and Content Policy shall remain in force.

## No Implied Waiver

A failure by Drama in one or more instances to insist upon your strict adherence to these terms or the Content Policy, shall not be construed as a waiver of any continuing or subsequent violations of these terms or the Content Policy.

## Completeness

These Terms contain all the terms and conditions agreed upon by You and Drama regarding your use of the rdrama.net service. No other agreement, oral or otherwise, will be deemed to exist or to bind either of the parties to this Agreement.

## Governing Law

These terms of service are governed by, and shall be interpreted in accordance with, the laws of the state of New Hampshire. You consent to the sole jurisdiction of Hillsborough County, New Hampshire for all disputes between you and Drama LLC, and you consent to the sole application of New Hampshire state law and United States federal law for all such disputes.

## Updates

Drama may periodically update these terms of service and/or the Content Policy. When this happens, Drama will make reasonable efforts to notify you of such changes.

Whenever Drama updates these terms of service or the Content Policy, your continued use of the rdrama.net platform constitutes your agreement to the updated terms of service.

{% endfilter %}

{% if v and v.tos_agreed_utc < cutoff %}
<a id="agreebox" target="_blank" href="javascript:void(0)" class="btn btn-primary" onclick="post('/api/agree_tos', callback=function(){window.history.back()})">I agree.</a>

{% endif %}
{% endblock %}

