<div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalTitle" aria-modal="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header d-flex">
				<h5 class="modal-title">Give this ruqqie a tip!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="far fa-times"></i></span>
				</button>
			</div>
			<div class="modal-body bg-light text-center d-lg-flex align-items-center px-md-4">

				<div class="w-100">

					<div class="d-flex align-items-center justify-content-around w-25 mx-auto mb-2">

						<img id="tip-sender-pfp" src="{{v.profile_url}}" class="profile-pic-50">
						<i class="far fa-long-arrow-right text-muted text-lg mx-3"></i>
						<img id="tip-recipient-pfp" src="" class="profile-pic-50">

					</div>
					<div class="h5 mb-0">{% if v.has_premium %}Send a tip{% else %}Get coins to send a tip{% endif %}</div>
					<div class="text-small-extra text-muted mb-3">All tips are anonymous :)</div>

</div>


</div>
</div>
</div>
</div>